body {
    background-image: url("../images/bg.png");
    background-size: 100%;
    font-family: 'Raleway', sans-serif;
}

.container {
    text-align: center;
    margin: 20px auto;
    height: 550px;
    width: 65%;
    background-color: rgba(255, 255, 255, .9);
}

#questionDiv {
    text-align: center;
}

#answerDiv {
    text-align: center;
}

h1 {
    color: white;
    font-size: 500%;
    font-family: 'Righteous', cursive;
}

.btn {
    position: relative;
}

img {
    max-height: 250px;
    width: auto;
    margin-top: 30px;
}

.answerChoice {
    margin-top: 30px;
    font-size: large;
    overflow: hidden;
    background-color: white;
    flex: auto;
}

p {
    font-size: 150%; 
}

#questionDiv {
    margin-top: 5%;
}