body {
    background-image: url("../images/bg.png");
    background-size: 100%;
}

.container {
    text-align: center;
    margin: 20px auto;
    height: 500px;
    width: 65%;
    background-color: rgba(255, 255, 255, .7);
}

#questionDiv {
    text-align: center;
}

#answerDiv {
    text-align: center;
}

h1 {
    color: white;
    font-size: 500%;
    font-family: 'Righteous', cursive;
}

.btn {
    position: relative;
    bottom: -150px;
}

img {
    max-height: 300px;
    width: auto;
    margin-top: 30px;
}
